.header {
  height: 8%;
}

.main-content {
  position: relative;
  height: 83.9%; // solve strange behavior on brave browser : vertical scrollbar appears
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  height: 8%;
}
