@use 'sass:math';

// The color that will be at the beginning and the end of the loop.
$firstColor: #11BC8C;

// The list of all the used colors. The $first-color must remain at the end of the list.
$listColors: #FBC02D, #F61F43, #3DCCDE, $firstColor;

$delayCoeff: 25ms;

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background: var(--background-color);
}

.svg-animation {
  display: inline-block;
  text-align: center;
}

#svg-animation {
  display: inline-block;
  vertical-align: middle;
  fill: $firstColor;

  @for $i from 0 through 12 {
    path:nth-child(n+#{$i*5}):nth-child(-n+#{($i+1)*5}) {
      animation: keyframes 5s linear infinite;
      animation-delay: $i*5*$delayCoeff;
    }
  }
}

@keyframes keyframes {
  0% {
    fill: $firstColor;
  }
  @for $i from 1 through length($listColors) {
    #{$i*(math.div(100, length($listColors)))}% {
      fill: nth($listColors, $i);
    }
  }
}
